@model IEnumerable<MYFITNESSAPP.Models.Trainer>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerPhoto)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerPhoto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TrainerID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TrainerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TrainerID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
